@import 'mediawiki.ui/variables';
@import '../../lib/oojs-ui/wikimedia-ui-base';

/* Entity id form */
form {
	margin-bottom: 20px;
}

/* Notices */
.wbqc-constraintreport-notice {
	font-style: italic;

	&-error {
		font-weight: bold;
		color: @colorErrorText;
	}
}

/* Statuses */
.wbqc-status {
	font-weight: bold;

	&-compliance {
		color: @wmui-color-green50;
	}

	&-exception {
		color: @wmui-color-green30;
	}

	&-violation {
		color: @colorErrorText;
	}

	&-todo {
		color: @colorTextLight;
	}

	&-bad-parameters {
		color: @colorDestructiveActive;
	}

	&-deprecated,
	&-not-main-snak {
		color: @colorNeutral;
	}

	&-warning {
		color: @wmui-color-yellow30;
	}
}

/* Tooltip */
.wbqc-indicator {
	color: @colorNeutral;
	font-weight: 600;
}

.wbqc-tooltip {
	margin-top: -40px;
	margin-left: -5px;
	background-color: @background-color-framed;
	border: 1px solid @colorPlaceholder;
	border-radius: 5px;
	box-shadow: 2px 2px 1px rgba( 0, 0, 0, 0.2 );
	padding: 2px 5px 2px 5px;
	position: absolute;
	float: left;

	display: none;
}

.wbqc-indicator .wbqc-tooltip {
	/* unset .wbqc-indicator styles */
	color: initial;
	font-weight: initial;
}

.wbqc-indicator:hover .wbqc-tooltip {
	display: block;
}

.wbqc-expandable-content-indicator {
	cursor: pointer;
}

.wbqc-expandable-content {
	color: @colorText;
	display: none;
}
