@import 'mediawiki.skin.variables.less';

/* Entity id form */
form {
	margin-bottom: 20px;
}

/* Notices */
.wbqc-constraintreport-notice {
	font-style: italic;

	&-error {
		color: @color-error;
		font-weight: @font-weight-bold;
	}
}

/* Statuses */
.wbqc-status {
	font-weight: @font-weight-bold;
	white-space: nowrap;

	&-compliance {
		color: @color-success;
	}

	&-exception {
		color: @color-success;
	}

	&-violation {
		color: @color-error;
	}

	&-todo {
		color: @color-subtle;
	}

	&-bad-parameters {
		// TODO: This should be `@color-error`.
		color: @color-destructive--active;
	}

	&-deprecated,
	&-not-in-scope {
		color: @color-subtle;
	}

	&-warning {
		// TODO: This should be a new token for standalone error text as replacement
		// (maybe with the same value as @border-color-warning, #ac6600).
		color: #ac6600;
	}

	&-suggestion {
		color: @color-progressive;
	}
}
