/* named colors refer to the Wikimedia Style Guide, https://wikimedia.github.io/WikimediaUI-Style-Guide/visual-style_colors.html */

/* Entity id form */
form {
	margin-bottom: 20px;
}

/* Notices */
.wbqc-constraintreport-notice {
	font-style: italic;
}

.wbqc-constraintreport-notice-error {
	font-weight: bold;
	color: #d33; /* Red50 */
}

/* Statuses */
.wbqc-status {
	font-weight: bold;
}

.wbqc-status-compliance {
	color: #00af89; /* Green50 */
}

.wbqc-status-exception {
	color: #14866d; /* Green30 */
}

.wbqc-status-violation {
	color: #d33; /* Red50 */
}

.wbqc-status-todo {
	color: #54595d; /* Base20 */
}

.wbqc-status-bad-parameters {
	color: #b32424; /* Red30 */
}

.wbqc-status-deprecated,
.wbqc-status-not-main-snak {
	color: #72777d; /* Base30 */
}

.wbqc-status-warning {
	color: #ac6600; /* Yellow30 */
}

/* Tooltip */
.wbqc-indicator {
	color: #72777d; /* Base30 */
	font-weight: 600;
}

.wbqc-tooltip {
	margin-top: -40px;
	margin-left: -5px;
	background-color: #f8f9fa; /* Base90 */
	border: 1px solid #a2a9b1; /* Base50 */
	border-radius: 5px;
	box-shadow: 2px 2px 1px rgba( 0, 0, 0, 0.2 );
	padding: 2px 5px 2px 5px;
	position: absolute;
	float: left;

	display: none;
}

.wbqc-indicator .wbqc-tooltip {
	/* unset .wbqc-indicator styles */
	color: initial;
	font-weight: initial;
}

.wbqc-indicator:hover .wbqc-tooltip {
	display: block;
}

.wbqc-expandable-content-indicator {
	cursor: pointer;
}

.wbqc-expandable-content {
	color: #222; /* Base10 */
	display: none;
}
