@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-wbqc-icon {
	&--flag {
		.cdx-mixin-css-icon( @cdx-icon-flag );
	}

	&--notice {
		.cdx-mixin-css-icon( @cdx-icon-notice );
	}

	&--error {
		.cdx-mixin-css-icon( @cdx-icon-error, @color-icon-error );
	}

	&--alert {
		.cdx-mixin-css-icon( @cdx-icon-alert, @color-icon-warning );
	}

	&--flask {
		.cdx-mixin-css-icon( @cdx-icon-lab-flask );
	}
}

.wikibase-wbui2025-wbqc-constraint-header {
	margin-bottom: @spacing-150;
	font-weight: @font-weight-bold;
}

.wikibase-wbui2025-wbqc-status-description {
	margin-bottom: @spacing-150;
}

.wikibase-wbui2025-wbqc-constraint-links {
	display: flex;
	gap: @spacing-75;
	color: @color-progressive;
}
