.wikibase-toolbar-item .mw-collapsible-toggle * {
	/* wikibase CSS adds an icon, so hide the normal [expand] link */
	display: none;
}

.wbqc-reports-all .wbqc-reports:not( :first-child ) {
	/* add some space between groups in a list */
	margin-top: 1em;
}

.wbqc-reports-all .wbqc-reports:not( :last-child ) {
	/* add a border between groups in a list */
	border-bottom: 1px solid #a2a9b1; /* Base50 */
}
