@import 'mediawiki.skin.variables.less';

.wbqc-report {
	margin-right: @spacing-50;

	.wbqc-report-heading {
		.wbqc-report-heading-links {
			float: right;
			margin-left: @spacing-150;
			font-weight: @font-weight-normal;
		}

		+ p {
			margin-top: 0;
		}
	}

	.wbqc-ancillary-messages {
		color: @color-subtle;
		font-size: 90%;
		font-style: italic;
	}
}
