Aleksey Bekh-Ivanov <aleksey.bekh-ivanov@wikimedia.de>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Andreas Burmeister <andreas.burmeister@student.hpi.de>
Dimitri Schmidt <dimitri.schmidt@student.hpi.uni-potsdam.de>
Dominic Sauer <dominic.sauer@yahoo.de>
Jan Zerebecki <jan.wikimedia@zerebecki.de>
Jeroen De Dauw <jeroendedauw@gmail.com>
Jonas Keutel <jonas@keutel.de> <jonas.keutel@student.hpi.de>
Jonas Kress <jonas.kress@wikimedia.de>
Katie Filbert <aude.wiki@gmail.com>
Lucas Werkmeister <lucas.werkmeister@wikimedia.de>
Olga Bode <bode.olga@gmail.com>
Sam Reed <reedy@wikimedia.org>
Sören Oldag <soeren_oldag@freenet.de>
Tamara Slosarek <tamaraslosarek@gmail.com>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de> <thiemo.maettig@wikimedia.de>
Timo Tijhof <krinklemail@gmail.com>
