<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="false" backupGlobals="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="true" stopOnFailure="false" timeoutForSmallTests="10" timeoutForMediumTests="30" timeoutForLargeTests="60" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">maintenance</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="tests/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Common">
      <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
