<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="false"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         stopOnFailure="false"
         timeoutForSmallTests="10"
         timeoutForMediumTests="30"
         timeoutForLargeTests="60"
         verbose="true">
    <testsuites>
        <testsuite name="Common">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">maintenance</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
